/* Amazing Recipes Homepage */
#chefpic {
    height: auto;
    width: 500px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: royalblue;
    text-align: center;
}

a {
    font-style: italic;
    font-weight: bold;
}

#BFWings {
    color: orangered;
}

#VegChill {
    color: green;
}

#chickwaffles {
    color: goldenrod;
}

/* Wings Page */
h1.wings,h2.wings,h3.wings {
        background-color: black;
        color: red;
        text-align: center;
    }
   
    ol.wings li, ul.wings li{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #800000;
    }

/* Veg Chilli Page */    
    .veg > h1,.veg h2,.veg h3 {
        background-color: green;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:ivory;
        text-align: center;
    }

/* Chicken Waffles Page */    
.waffles > h1,.waffles h2,.waffles h3 {
    background-color: goldenrod;
    color: black;
    text-align: center;
}

ol.syrup li, ul.syrup li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}